#include "resources.h"
#include <winver.h>

#pragma code_page(65001) // UTF-8编译

// 菜单资源
IDR_CONTEXT_MENU MENU
BEGIN
    POPUP "菜单"
    BEGIN
        MENUITEM "窗口穿透(&W)", IDM_WINDOW_PENETRATE
        MENUITEM "静音(&D)", IDM_MUTE
        MENUITEM "最小化(&M)", IDM_MINIMUM
        MENUITEM SEPARATOR
        MENUITEM "设置(&S)...", IDM_SETTINGS
        MENUITEM SEPARATOR
        MENUITEM "关于(&A)...", IDM_ABOUT
        MENUITEM "退出(&X)", IDM_EXIT
    END
END


// 图标资源
IDI_APPLICATION ICON "./ico/64.ico"
IDI_MY_ICON ICON "./ico/64.ico"


// 版本信息
VS_VERSION_INFO VERSIONINFO
FILEVERSION     1,0,2,0  // 文件版本 
PRODUCTVERSION  1,0,2,0  // 产品版本 
FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
FILEFLAGS       0x0      // 0=正式版, VS_FF_DEBUG=调试版
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VFT_APP  //应用程序类型 
FILESUBTYPE     VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080404B0"  // 简体中文(0x0804) + Unicode(1200)
        BEGIN
            VALUE "CompanyName",        "小狄同学呀"
            VALUE "FileDescription",    "进阶的“坤音键盘V4”，可以在按键后播放音效"
            VALUE "FileVersion",        "1.0.2.0"
            VALUE "InternalName",       "keybonk.exe"
            VALUE "LegalCopyright",     " WTFPL 开源"
            VALUE "OriginalFilename",   "keybonk.exe"
            VALUE "ProductName",        "KeyBonk"
            VALUE "ProductVersion",     "1.0.2.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0804, 1200  // 简体中文(0x0804)
    END
END
